.desktop{
  .header{
    height: calc(100% - 40px);
    background-color: #232323;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    padding-top:20px
  }
  .header_circle{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #F1AD3D;
    border-radius: 50%;
    bottom: 50px;
    left: 15px;
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    display: none;

  }
}

.mobile{
  display: none;
  width: 100%;
  .header{
    height: 50px;
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}