body{
  margin: 0 auto;
  padding: 0;
  background-color: #232323;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.global_container{
  display: flex;
  height: calc(100vh - 20px);
  padding: 10px 0 10px 10px;
}
.container{
  background-color: #EEEEEE;
  width: calc(100% - 40px);
  border-radius: 30px 30px 30px 30px;
  padding: 20px;
  margin-right: 10px;
  box-shadow: -14px -1px 23px -7px rgba(0,0,0,0.75);
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .global_container{
    padding: 0;
    flex-direction: column-reverse;
    min-height: 100vh;

  }
  .container{
    height: 100%;
    border-radius: 0;
    width: calc(100% - 40px);
    margin: 0;
  }

}