.nav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    filter: invert(100%);
  }
}